{% extends "base.html" %}
{% load static %}

{% block title %}Politicas | Acelere{% endblock %}

{% block content %}
<div class="container bio">
    <div class="row">
        <h3 class="h3-home" id="politica-de-privacidade">Política de Privacidade</h3>
        <div class="bio-div">
          <p>Acelere.org respeita a sua privacidade e está empenhado em proteger as informações pessoais que você possa fornecer por meio do nosso site.</p>
          <p>Podemos coletar informações pessoais que você nos forneça diretamente, como seu nome, endereço de e-mail, endereço postal, número de telefone e outras informações que você optar por fornecer.</p>
          <p>Também podemos coletar automaticamente informações sobre o seu dispositivo e o seu uso do site, como seu endereço IP, tipo de navegador, páginas visitadas, tempo gasto em cada página e outras estatísticas.</p>
          <p>Não vendemos, alugamos ou trocamos suas informações pessoais com terceiros para fins de marketing. Podemos compartilhar suas informações com terceiros que nos prestam serviços, como processamento de pagamentos, análise de dados e suporte técnico, desde que esses terceiros concordem em manter essas informações confidenciais.</p>
        </div>
    </div>
</div>
<div class="container bio" id="termos-de-uso">
    <div class="row">
        <h3 class="h3-home">Termos de Uso</h3>
        <div class="bio-div">
          <p>Ao postar Conteúdo no site, você nos concede o direito e a licença para usar, modificar, exibir publicamente, reproduzir e distribuir esse Conteúdo no site. Você retém quaisquer direitos autorais ou outros direitos de propriedade que você possa ter no Conteúdo.</p>
          <p>O site pode conter links para sites de terceiros ou serviços que não são de propriedade ou controlados por Acelere.org. Não temos controle e não assumimos responsabilidade pelo conteúdo, políticas de privacidade ou práticas de quaisquer sites ou serviços de terceiros.</p>
        </div>
    </div>
</div>
<div class="container bio" id="politica-de-cookies">
    <div class="row">
        <h3 class="h3-home">Política de Cookies</h3>
        <div class="bio-div">
          <p>Utilizamos cookies e tecnologias semelhantes para melhorar a sua experiência em nosso site. Os cookies são pequenos arquivos de texto que são armazenados em seu dispositivo quando você visita nosso site. Eles nos ajudam a reconhecer seu navegador e lembrar suas preferências para futuras visitas, além de nos permitir analisar o tráfego do site e entender como os visitantes interagem com ele. Ao continuar a utilizar nosso site, você concorda com o uso de cookies de acordo com nossa Política de Cookies. Se você não concorda com o uso de cookies, você pode ajustar as configurações do seu navegador para rejeitar cookies ou alertá-lo quando um cookie estiver sendo enviado, mas isso pode afetar a funcionalidade do site.</p>
        </div>
    </div>
</div>
{% endblock %}